* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;    
}


/*paleta de colores
primary color  #2196F3
LIGHT PRIMARY COLOR: #BBDEFB
DARK PRIMARY COLOR: #1976D2
ACCENT COLOR: #536DFE
PRIMARY TEXT: #212121
SECONDARY TEXT: #757575
TEXT/ICONS: #FFFFFF
*/



